In [2]:
 
import pandas as pd

In [3]:
"""### Load Data"""
 
path = r"https://drive.google.com/uc?export=download&id=1xxDtrZKfuWQfl-6KA9XEd_eatitNPnkB" 
df = pd.read_csv(path)
 
df.head()

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,150.0,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,149.0,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,150.0,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,40.0,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,83.0,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
"""### Split Data"""
 
X = df.drop('price', axis=1)
y = df['price']
 
print('Shape of X = ', X.shape)

In [ ]:
print('Shape of y = ', y.shape)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=51)

In [ ]:
print('Shape of X_train = ', X_train.shape)

In [ ]:
print('Shape of y_train = ', y_train.shape)

In [ ]:
print('Shape of X_test = ', X_test.shape)

In [ ]:
print('Shape of y_test = ', y_test.shape)

In [ ]:
"""### Feature Scaling"""
 
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit(X_train)
X_train = sc.transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
"""## Linear Regression - ML Model Training"""
 
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [ ]:
lr.fit(X_train, y_train)

In [ ]:
lr.coef_

In [ ]:
lr.intercept_

In [ ]:
"""## Predict the value of Home and Test"""

In [ ]:
X_test[0, :]

In [ ]:
lr.predict([X_test[0, :]])

In [ ]:
lr.predict(X_test)

In [ ]:
y_test

In [ ]:
lr.score(X_test, y_test)